/** Basic settings */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Yantramanav", sans-serif;
  color: #444343;
  font-size: 1.6rem;
  background-color: #fff; }

/** Styles */
input {
  padding: 1rem 3rem; }

.container {
  width: 100%;
  height: 100%; }
