<!DOCTYPE html>
<html lang="hu">

<head>
   <meta name="google-site-verification" content="vYriPmsGEMSB7FQU1-pi-kz_3XH_xjGyap2McaW0rB0" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="description" content="Procisz - Official Website">
   <meta name="keywords"
      content="Zajkás Ágoston, portfolio, Budapest, frontend developer, web developer, backend developer, full stack, developer, angular, sass, typescrypt, jQuery, sql, mysql, express, pug, websocket, git, scru, es6+, handlebars, nestjs, nodejs, html, css, javascript, website, webpage, webshop, graphic design, bootstrap, seo, google, services, music, double bass, salesman, linked in, ">
   <meta name="author" content="Agoston ZAJKAS">
   <title>Digital Natives - test</title>
   {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> --}}
   <link rel="stylesheet" href="/stylesheets/style.min.css">
</head>

<body>
   {{{body}}}
   <script type="module" src="number-converter/converters.js"></script>
</body>

</html>