<div class="conatiner">

   <form id="form">
      <input id="input" class="conatiner__input" type="number" placeholder="Write a number">
      <button class="conatiner__button" type="submit">Submit</button>
   </form>

   <div class="conatiner__number-box" id="nameOfSubmittedNumber"></div>
</div>